        /* Color reference 
        #4a3432 - Teksti
        #8f6c49 - Footer
        #e07e3d - Header/links
        #ebe5d5 - Main background
        #fcfcf0 - Body background/nav linkit
        
        Alinpana ennen fontteja on jokaiselle sivulle oma slotti stylelle.

        */

    /* Global Styles - ÄLÄ MUUTA 
    * universaalinen koodi, joka valitsee kaikki elementit */

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    html,
    body {
      height: 100%;
    }

    body {
      position: relative;
      background-color: #fcfcf0;
      color: #4a3432;
      text-align: center;
    }

    /* Header Styles - ÄLÄ MUUTA */
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: fixed;
      width: 100%;
      height: 130px;
      background-image: url("kuvat/header.png");
      background-repeat: no-repeat;
      background-position: top;
      background-attachment: fixed;
      z-index: 1100;
      font-family: "Nerko One", system-ui;
      font-size: 30px;
      text-shadow: 2px 2px #4a3432;
    }
    
    /* Heading Styles - ÄLÄ MUUTA */
    h1 {
      font-family: "Nerko One", system-ui;
      font-size: 37px;
      text-shadow: 2px 2px #e07e3d;
      letter-spacing: 2px;
    }

    h2 {
      font-family: "Nerko One", system-ui;
      font-size: 32px;
      letter-spacing: 2px;
    }

    h3 {
      font-family: "Nerko One", system-ui;
      font-size: 27px;
      letter-spacing: 2px;
    }
    

    /* Main Content Styles - ÄLÄ MUUTA */
    main {
      background-color: #ebe5d5;
      font-family: "Roboto", system-ui; 
      font-size: 17px;
      padding: 140px 35px 150px 20px;
      margin: auto;
      max-width: 1000px;
      text-align: left;
      position: relative;
    }

    /* Footer Styles - ÄLÄ MUUTA */
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 150px;
      padding-top: 95px;
      background-image: url("Kuvat/footer.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-attachment: fixed;
      z-index: 1000;
      color: #ebe5d5;
      text-align: center;
      font-family: "Roboto", system-ui; 
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1px;
    }

    /* logo Style */
    #logo {
      max-width: 100%;
    }

    /* Link Styles - ÄLÄ MUUTA*/
    a {
      color:#e07e3d;
    }
    
    a:hover {
      color: #4a3432;
      text-decoration: underline;
    }

    .nav-links a {
      color: #ebe5d5;
      text-decoration: none;
    }

    .nav-links a:hover {
      color: #ebe5d5;
      text-decoration: underline;
    }
    
    .nav-links {
      display: flex;
      flex-grow: 1;
      justify-content: space-evenly;
      max-width: 1000px;
      margin-top: -45px;
    }

    /* Toggle Button Styles - ÄLÄ MUUTA*/
    .toggle-button {
      display: none;
      background-color: #e07e3d;
      color: white;
      border: none;
      padding: 14px;
      cursor: pointer;
    }

    /* Media Queries - eli responisiiviset stylet mobiilinäkymään - voit lisätä, mutta ÄLÄ MUUTA olemassa olevia */
    @media (max-width: 600px) {

      main {
        padding-top: 100px;
      }

      .nav-links {
          display: none;
          flex-direction: column;
          width: 100%;
          position: absolute;
          background-color: #e07e3d;
          top: 50px;
          height: 100vh;
          justify-content: center;
      }

      .nav-links > a {
          font-size: 45px;
          padding: 0px 50px 50px 50px;
          text-shadow: 4px 4px #4a3432;
      }

      .toggle-button {
          display: block;
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 1100;
          font-size: 30px;
          text-shadow: 3px 3px #4a3432;
      }

      .nav-links.active {
          display: flex;
      }

      #logo {
          display: none;
      }

      #logo-mobile {
          display: block;
          position: absolute;
          left: 20px;
          top: 20px;
      }

      #calicafe {
          display: block;
          position: absolute;
          top: 5px;
          color: #ebe5d5;
          font-size: 50px;
          text-shadow: 3px 3px #4a3432;
      }

      #kahvi{
        max-width: 200px;
        border: 2px solid #e07e3d;
        
        }

    }

/* Jos mobiilinäkymään lisätään jotain mitä ei haluta näkyvän selaimessa*/
    @media (min-width: 600px) { 

      #logo-mobile {
          display: none;
      }

      #calicafe {
          display: none;
      }

      main {
        min-height: 800px;
      }
    }

/* Tähän alle INDEX sivun style */



/* Tähän alle KISSAMME sivun style */
.kissalista {
  margin-left: 15px;
  padding: 25px;
  background-color:#fcfcf0;
  max-width: 90%;
  border-radius: 10px;
  border-style:solid;
  border-color: #4a3432;
  border-width: 1px;
  font-size:larger;
}
.kissamme {
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid;
  border-color: #e07e3d;
  max-width: 100%;
}
.kissa_p {
  margin-left: 15px;;
  padding: 15px;
  background-color:#fcfcf0;
  max-width: 90%;
  border-radius: 10px;
  border-style:solid;
  border-color: #4a3432;
  border-width: 1px;
}



/* Tähän alle YHTEYSTIEDOT sivun style */

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 2;

}

#kartta {
max-width: 500px;
border: 2px solid #e07e3d;
border-radius: 20%;
margin-top: 25px;
margin-right: 5px;


}

/* Fontit - Näistä voi kopioida itselleen fontin styleen jos se eroaa normaalista (roboto, 300, normal) 

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
*/